.panel {
  background-color: #e3f2fd; /* Fundo azul bem clarinho */
  border: 1px solid #bbdefb;
  border-radius: 8px;
  padding: 24px 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.02);
}

.title {
  color: #111;
  font-size: 1.1rem;
  margin: 0 0 20px 0;
  font-weight: 800;
}

.iconBadge {
  background-color: #2196f3;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Faz um círculo perfeito */
  box-shadow: 0 4px 8px rgba(33, 150, 243, 0.3);
}

.icon {
  font-size: 2.5rem;
}

.text {
  color: #333;
  font-size: 0.95rem;
  line-height: 1.4;
  margin: 0;
}